@font-face {
  font-family: 'Lato';
  src: url('../fonts/subset-Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/subset-Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-main: 'Lato', system-ui, -apple-system, sans-serif;

  --color-primary: #3FBDF1;
  --color-secondary: #F5BD33;
  --color-blue: #CBEDFB;
  --color-gray: #2E2E2E;

  --container-width: 1124px;
}